<div class="text-info fondo4 container ">
    <h1>Educación</h1>
    <div class="row" class="rounded float-left"class="margen">
        <div class="col-8" style="margin-bottom: 50px ;margin-top: 50px; margin-right: 100%; ">
         <div class="container"> 
           <table class="table table-success table-striped">
               <thead>
                 <tr>
                   <th scope="col">#</th>
                   <th scope="col">Cursos</th>               
                   <th scope="col">Institución</th>
                   <th scope="col">Año</th>
                   <th scope="col">VER certificado</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <th scope="row">1</th>
                   <td>Introduccion a la programación en Python</td>
                   <td>Polo Técnologico Mina Clavero</td>
                   <td>2021</td>
                   <td> <a class="nav-link" href="http://www.minaclavero.gov.ar/novedadesdetalle.php?id=13513" target="_blank">En espera</a></td>
                 </tr>
                 <tr>
                   <th scope="row">2</th>
                   <td>Desarrollo en Html , CSS y Javascript </td>
                   <td>Alura</td>
                   <td>2021-2022</td>
                   <td> <a class="nav-link" href="https://app.aluracursos.com/user/samuelframarini/fullCertificate/92b79531ec81b72d876aa5301b5709d2" target="_blank">Certificado Alura</a></td>
                   
                 </tr>
                 <tr>
                   <th scope="row">3</th>
                   <td>Desarrollador FrontEnd</td>
                   <td>Fundacion Slim</td>
                   <td>2020</td>
                   <td><a class="nav-link" href="https://capacitateparaelempleo.org/verifica/db38b6e0-d8f5-4748-bd3f-0135af166aa6"target="_blank" >Aprende.org</a></td>
                  
                 </tr>
                 <tr>
                    <th scope="row">4</th>
                    <td>Programación</td>
                    <td>Argentina Programa Primera Etapa</td>
                    <td>2022</td>
                    <td><a class="nav-link " href="https://mumuki.io/argentina-programa/certificates/verify/Ho20KeTXtUWpPi2L" target="_blank" tabindex="-1">Certificado #SeProgramar</a></td>              
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Desarrollador Full Stack Junior</td>
                    <td>Argentina Programa #Yo Programo 3era Edición (en curso) </td>
                    <td>2022</td>
                    <td><a class="nav-link" href="https://argentinaprograma.inti.gob.ar/"target="_blank" >En curso...</a></td>               
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Reparación de Pc</td>
                    <td>Fundación Slim  </td>
                    <td>2020</td>
                    <td><a class="nav-link" href="https://capacitateparaelempleo.org/verifica/db38b6e0-d8f5-4748-bd3f-0135af166aa6"target="_blank" >Aprende.org</a></td>               
                  </tr>
               </tbody>
             </table>
        </div>
        
    </div >
