
    
   

    <div class="container">
    <a href="https://www.linkedin.com/in/carlos-samuel-framarini-171a6b213/" target="blank"  class="text-white "><img src="./assets/img/linkedin.png" id="linkedin"></a>
        <a href="https://www.youtube.com" target="blank"  class="text-white "><img src="./assets/img/iconoYoutube.png" id="youtube"></a>
        <a href="" target="blank"  class="text-white "><img src="./assets/img/logoGit.png" id="git"></a> 
        <button type="button" class="btn btn-primary">Ingreso</button> 
    </div>
